[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

scikit-learn = "*"
Flask = "*"
gunicorn = "*"
"eli5" = "*"
Flask-Bootstrap = "*"


[dev-packages]



[requires]

python_version = "3.6"
